# Visual Studio
.vs/
bin/
obj/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/terraform.tfvars
terraform/**/*.tfplan
