# Visual Studio
.vs/
bin/
obj/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/terraform.tfvars
terraform/**/*.tfplan
/terraform/terrform-tfvars
/terraform/terrform.tfvars
/terraform/automation_lambda.zip
/Backend/lambda_package/
/Backend/.env
